#!/bin/sh

##### CUSTOM - above this is default /etc/X11/xinit/xinitrc #####
which nm-applet && nm-applet & # wifi
which blueman-applet && blueman-applet & # bluetooth
which pasystray && pasystray & # audio
which flatpak && flatpak run io.github.liberodark.OpenDrive/x86_64/stable & # google drive
which xfce4-power-manager && xfce4-power-manager & # power