#!/bin/sh

# Start systray applets in the background.
which nm-applet && nm-applet & # wifi
which blueman-applet && blueman-applet & # bluetooth
which pasystray && pasystray & # audio
which powerkit && powerkit & # power
which cbatticon && cbatticon -x 'powerkit --config' & # power systray icon
which flameshot && flameshot & # screenshot
which megasync && megasync & # cloud
which redshift-gtk && redshift-gtk & # nigthlight
# [[ -f $HOME/.conky/Conky-Minimalism/startup.sh ]] && . $HOME/.conky/Conky-Minimalism/startup.sh &

# Set primary display resolution to 1920x1080.
xrandr --output eDP-1 --primary --mode 1920x1080 --pos 0x0 --rotate normal
