#!/bin/sh

which nm-applet && nm-applet & # wifi
which blueman-applet && blueman-applet & # bluetooth
which pasystray && pasystray & # audio
which powerkit && powerkit & # power
which cbatticon && cbatticon -x 'powerkit --config' & # power systray icon
which flameshot && flameshot & # screenshot
which clight && clight & # auto screen brightness
