if test $(which xsel); then
	alias pbcopy='xsel --clipboard --input'
	alias pbpaste='xsel --clipboard --output'
fi

# grep
alias cgrep='grep -rIPn --color=auto'

# less
alias lessr='less -r'
alias lessrn='less -rN'

# git
alias gdms='git --no-pager diff --name-only HEAD' # list of modified and staged files.
alias gdmsa='git --no-pager diff --name-only HEAD|xargs -I % echo "`git rev-parse --show-toplevel`/%"' # list of modified and staged files with full directory paths.
alias glolsa='glols --all' # for use with oh-my-zsh git alias.
