# PHP Syntax check directory
phpl ()
{
  dir=`pwd`
  echo "running 'php -l' on '$dir'"
  for f in `find | egrep "\.(php|phtml)$"`; do
    t=`php -l $f`
    if [ $? == 0 ]; then
      status=`echo -e "\033[1;32mPASS\033[0m"`
    else
      status=`echo -e "\033[1;31mFAIL\033[0m"`
    fi
    echo "[$status] $f"
  done
}

# git function for pulling all known remote branches and updating them all.
# Found at https://stackoverflow.com/questions/10312521/how-to-fetch-all-git-branches#10312587
guab ()
{
  git branch -r | grep -v '\->' | while read remote; do git branch --track "${remote#origin/}" "$remote"; done
  git fetch --all
  git pull --all
}
